<!---

<ion-header >
 <ion-button fill="clear" class="skip-button" (click)="goback()">Omitir intro</ion-button>
</ion-header>
-->

<ion-header translucent>
  <ion-toolbar color="light" class="onboarding-toolbar">
    <ion-buttons slot="end">
      <ion-button fill="clear" class="skip-button" (click)="goback()">Omitir intro</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  

  <div class="theme-minimal">
    <swiper-container 
      pagination="true" 
      loop="true" 
      slides-per-view="1">

      <swiper-slide *ngFor="let genre of genres" class="ion-text-center">
        <div class="slide-content">
          <img [src]="genre.image" alt="">
          <h2>{{ genre.title }}</h2>
          <p>{{ genre.description }}</p>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>


</ion-content>
