// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --color-acento: #007bff;
  --color-claro: #555758;
    --color-oscuro: #000000;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}


//--color-fondo-tarjeta: #f8f9fa;
//--color-texto-tarjeta: #343a40;
//--color-slide-title: #6c757d;
//--spaciado-slide: 1rem;



//--tema-claro-fondo: #ffffff;
//--tema-claro-texto: #000000;
//--tema-claro-titulo: #343a40;