.slide-content {
  text-align: center;
  padding: 10%;
}

.slide-content h2 {
  font-size: 24px;
  margin: 12px 0;
}

.slide-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.slide-content p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 12px 0 0;
  text-align: justify;
}