<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My MusicApp
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        <ion-icon *ngIf="themaActivade" name="sunny-outline"></ion-icon>
        <ion-icon *ngIf="!themaActivade" name="moon"></ion-icon>
      </ion-button>
    </ion-buttons>

    

  </ion-toolbar>
</ion-header>

<ion-content >


  <div>
    <h2 class="ion-text-center">Albuns</h2>
    <swiper-container 
      pagination="true" 
      loop="true" 
      slides-per-view="3"
    [ngClass]="temaActual">

      <swiper-slide *ngFor="let albun of albums" (click)="showSongs(albun.id, 'album')">
        <div class="slide-content">
          <img [src]="albun.image" [alt]="albun.name">
          <h2 class="ion-text-capitalize"> {{ albun.name }} </h2>
          <p>{{ albun.description }}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

    

  <!-- Mostrar un wiper o lista de artistas del servidor y al darle clic muestre las cancines del artista -->
   <div>
    <h2 class="ion-text-center">Artist</h2>
    <swiper-container 
      pagination="true" 
      loop="true" 
      slides-per-view="3"
    [ngClass]="temaActual">
      
      <swiper-slide *ngFor="let artist of artists" (click)="showSongs(artist.id, 'artist')">
        <div class="slide-content">
          <img [src]="artist.image" [alt]="artist.name">
          <h2 class="ion-text-capitalize"> {{ artist.name }} </h2>
          <p>{{ artist.popularity }}</p>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>



  <!--Lista canciones añadidas a favoritos-->
  <div>
    <h2 class="ion-text-center">Favorites music</h2>
    <swiper-container 
      pagination="true" 
      loop="true" 
      slides-per-view="3"
    [ngClass]="temaActual">
      
      <swiper-slide *ngFor="let favorite of favorite_tracks" (click)="loadFavoritesTrack()">
        <div class="slide-content">
          <h2>En construccion</h2>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>
</ion-content>



<ion-footer >
  <!--
  <ion-text color="danger" *ngIf="!song.name">
    <h2>Aqui aparece la cancion</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song.name">
    <h2>{{ song.name }}</h2>
  </ion-text>

  -->

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{ formatTime(currentSong?.currentTime) || "0:00"}}</ion-col>
    <ion-col class="ion-text-end">{{ formatTime(getRemainingTime()) || "0:00" }}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-progress-bar [value]="newTime || 0"> </ion-progress-bar>

  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <!--Agregar funcionalidad para marcar o desmarcar una canción como favorita desde la interfaz. :OK -->
        <!--Mostrar el icono de "❤️" si la canción no está en favoritos, y un icono de "❌" (dejar de seguir) si ya lo está. : OK-->
        <!--Validar al renderizar si la canción está en favoritos para mostrar el icono correspondiente.: ok-->
        <ion-icon *ngIf="isFavorite" color="danger" name="heart" (click)="disLike(song.id)"></ion-icon>
        <ion-icon *ngIf="!isFavorite" name="heart-outline" (click)="like(song.id)"></ion-icon>

      </ion-col>

      <ion-col size="10">
        <ion-text>{{ song.name || "N/A" }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
 