<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My MusicApp
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!--
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        Cambiar Tema
      </ion-button>
    </ion-buttons>-->

  </ion-toolbar>
</ion-header>

<ion-content >
  <swiper-container 
    pagination="true" 
    loop="true" 
    slides-per-view="1"
   [ngClass]="temaActual">

    <swiper-slide *ngFor="let genre of genres">
      <div class="slide-content">
        <h2> {{ genre.title }} </h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-button (click)="goToIntro()">Ir a Intro</ion-button>

</ion-content>
