<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My MusicApp
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        <ion-icon name="color-palette-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    

  </ion-toolbar>
</ion-header>

<ion-content >


  <swiper-container 
    pagination="true" 
    loop="true" 
    slides-per-view="1"
   [ngClass]="temaActual">

    <swiper-slide *ngFor="let albun of albums" (click)="showSongs(albun.id)">
      <div class="slide-content">
        <h2> {{ albun.name }} </h2>
        <img [src]="albun.image" [alt]="albun.name">
        <p>{{ albun.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>


  

  <!-- Mostrar un wiper o lista de artistas del servidor y al darle clic muestre las cancines del artista -->
</ion-content>



<ion-footer>
  <ion-text color="danger" *ngIf="!song.name">
    <h2>Aqui aparece la cancion</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song.name">
    <h2>{{ song.name }}</h2>
  </ion-text>
</ion-footer>
 