<ion-header >
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure class="profile-default-image ion-text-center">
    <p>SIGN UP</p>
    <img src="assets/images/user-add.png">
  </figure>

  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
      <ion-item>
        <ion-input label="First name" type="text" labelPlacement="stacked" placeholder="escribe tu nombre" formControlName="name"></ion-input>
      </ion-item>
      <div class="form-error-messages">
        <ng-container *ngFor="let validation of validation_message.name">
          <div 
            *ngIf="registerForm.get('name')?.hasError(validation.type) && registerForm.get('name')?.dirty"
            [class.error-message]="registerForm.get('name')?.hasError(validation.type) && registerForm.get('name')?.dirty"
          >
            {{ validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input label="Last name" type="text" labelPlacement="stacked" placeholder="escribe tu apellido" formControlName="last_name"></ion-input>
      </ion-item>
      <div class="form-error-messages">
        <ng-container *ngFor="let validation of validation_message.last_name">
          <div 
            *ngIf="registerForm.get('last_name')?.hasError(validation.type) && registerForm.get('last_name')?.dirty"
            [class.error-message]="registerForm.get('last_name')?.hasError(validation.type) && registerForm.get('last_name')?.dirty"
          >
            {{ validation.message}}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input label="Email" type="email" labelPlacement="stacked" placeholder="escribe tu email" formControlName="email"></ion-input>
      </ion-item>

      <div class="form-error-messages">
      <ng-container *ngFor="let validation of validation_message.email">
        <div 
          *ngIf="registerForm.get('email')?.hasError(validation.type) && registerForm.get('email')?.dirty"
          [class.error-message]="registerForm.get('email')?.hasError(validation.type) && registerForm.get('email')?.dirty"
        >
          {{ validation.message}}
        </div>
      </ng-container>
    </div>


      <ion-item>
        <ion-input label="Password" type="password" labelPlacement="stacked" formControlName="password"></ion-input>
      </ion-item>

      <div class="form-error-messages">
      <ng-container *ngFor="let validation of validation_message.password">
        <div 
          *ngIf="registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty"
          [class.error-message]="registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty"
        >
          {{ validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
        <ion-input label="Password confirmation" type="password" labelPlacement="stacked" formControlName="password_confirmation"></ion-input>
    </ion-item>

    <div class="form-error-messages">
      <ng-container *ngFor="let validation of validation_message.password_confirmation">
        <div 
          *ngIf="registerForm.get('password_confirmation')?.hasError(validation.type) && registerForm.get('password_confirmation')?.dirty"
          [class.error-message]="registerForm.get('password_confirmation')?.hasError(validation.type) && registerForm.get('password_confirmation')?.dirty"
        >
          {{ validation.message}}
        </div>
      </ng-container>
    </div>

      <ion-button expand="full" shape="round" color="success" [disabled]="!registerForm.valid"  type="submit">
        Register
      </ion-button>

      <ion-button expand="full" shape="round" color="dark" (click)="goToLogin()">
        Go to Login
      </ion-button>

    </form>
    {{errorMessage}}
    
</ion-content>


