.profile-default-image img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.form-error-messages {
  margin-top: 0.25rem;
}

.error-message {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}